/* mobile (global styles) */
/*
  BEM:
  block__element--modifier
  .block-name__element-name--modifier-name
  block-name__elem-name_mod-name_mod-val
/*
  OTHER COLORS:
    active hover state color:
    color: hsl(172, 67%, 45%);

    input dollar color
    color: hsl(184, 14%, 56%);

  background-color: hsl(172, 67%, 45%);
  background-color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  background-color: hsl(0, 0%, 100%);

  background-color: hsl(172, 67%, 45%);
  background-color: hsl(183, 100%, 15%);
  background-color: hsl(186, 14%, 43%);
  background-color: hsl(184, 14%, 56%);
  background-color: hsl(189, 41%, 97%);
  background-color: hsl(0, 0%, 100%);
*/

/*
  - Weights: 400, 500, 700
  400: person
  500: h2
  700: Custom/ numbers...?
*/

:root {
    /* || Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan-1: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan-1: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --large-font-size: 24px;
  --border-radius: 0.25rem;

  /* || Primary */
  --strong-cyan: hsl(172, 67%, 45%);

  /* || Radius */
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-grayish-cyan-1);
  /* color: red; */
  /* color: hsl(186, 14%, 43%); */
  background: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  /* font-weight: 400; */
  /* form input: */
  /* font-size: 24px */
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 12px;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.75rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.form {
  /* SORT PADDING HERE, BETWEEN PPL INPUT & TIP AMOUNT */
  padding: 2em 2em;
  /* padding: 10px 10px; */
}

.input {
  display: block;
}

.field {
  background: var(--light-grayish-cyan-2);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--large-font-size);
  height: 1.5em;
  margin: 0.25em auto;
  padding-right: 5%;
  width: 95%;
}

.form__icon{
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 50px;
  padding-top: 177px;
}

.people__icon {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 50px;
  padding-top: 450px;
}

.btn {
  background: var(--very-dark-cyan);
  border: none;
  padding: 5px;
  border-radius: var(--border-radius);
  width: 80px;
  width: 100%;
  font-size: var(--large-font-size);
  color: var(--white);
}

.btn--field {
  background: var(--light-grayish-cyan-2);
  color: var(--dark-grayish-cyan-2);
}

.btn--green {
  background: var(--strong-cyan);
  /* margin: 10px 10px; */
  width: 100%;
}

.app {
  background: var(--white);
}

.tip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

.tip__btn {
  /* text-align: center; */
  /* display: grid; */
  /* background-color: red; */
  margin: 0;
  padding: 0;
  /* background: none; */

  /* display: flex; */
  /* grid-template-columns: 1fr 20px; */

  /* flex-direction: row; */
}

.display,
.display__tip,
.display__people {
  background: var(--very-dark-cyan);
  margin: 0px 20px;
  /* rounded corners... */
  /* border-radius: 2.5%; */
  padding: 20px 20px;
  /* ^FIX THIS  */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 480px) {
  /* Medium screens */
}

@media (min-width: 800px) {
  /* Wide screens */
}

@media (min-width: 1100px) {
  /* XL screens */
}
