/* mobile (global styles) */
/* 
  BEM:
  block__element--modifier
  .block-name__element-name--modifier-name
  block-name__elem-name_mod-name_mod-val
/* 
  OTHER COLORS:
    active hover state color:
    color: hsl(172, 67%, 45%);

    input dollar color
    color: hsl(184, 14%, 56%);

  background-color: hsl(172, 67%, 45%);
  background-color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  background-color: hsl(0, 0%, 100%);

  background-color: hsl(172, 67%, 45%);
  background-color: hsl(183, 100%, 15%);
  background-color: hsl(186, 14%, 43%);
  background-color: hsl(184, 14%, 56%);
  background-color: hsl(189, 41%, 97%);
  background-color: hsl(0, 0%, 100%);
*/

/* 
  - Weights: 400, 500, 700
  400: person
  500: h2
  700: Custom/ numbers...?
*/

:root {
    /* || Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan-1: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan-1: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  /* || Primary */
  --strong-cyan: hsl(172, 67%, 45%);
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-grayish-cyan-1);
  /* color: red; */
  /* color: hsl(186, 14%, 43%); */
  background: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  /* font-weight: 400; */
  /* form input: */
  /* font-size: 24px */
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.75rem;
}

ul {
  list-style-type: none;
}

/* .form__img {
  position: absolute;
} */

.input {
  display: block;
}

.field {
  background: var(--light-grayish-cyan-2);
  padding: 10px 20px;
  border: none;
  border-radius: 0.25rem;
}

/* ^ATOMIC ELEMENTS^ */

.btn {
    /* var */
  background: var(--very-dark-cyan);
  border: none;
  width: 75px;
  font-size: 20px;
  color: var(--white)
}

.btn--field {
  background: var(--light-grayish-cyan-2);
  color: var(--dark-grayish-cyan-2);
}

.btn--green {
  background: var(--strong-cyan);
} 

.app {
  background: var(--white);
}

.display, 
.display__tip, 
.display__people {
    /* var */
  background: var(--very-dark-cyan);
  /* background-color: red; */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 480px) {
  /* Medium screens */
}

@media (min-width: 800px) {
  /* Wide screens */
}

@media (min-width: 1100px) {
  /* XL screens */
}